.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
}
.header_icon{
    object-fit: contain;
    height: 60px;
    margin-left: 40px ;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 60px;
}
#demo-simple-select{
    margin-top: 5px;
    align-items: center;
    width: 500px;
    border-radius: 999px !important;
}
.host{
    text-decoration: none;
    
}
.logout{
    background-color: gray;
}
.button_login{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(116, 106, 106);
    cursor: pointer;
}
.button_register{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(116, 106, 106);
    cursor: pointer;
}

.button_login:hover {
background-color: rgb(73, 165, 165);
color: white;
}
.button_register:hover{
background-color: tomato;
color: white;
}
.logout:hover{
background-color: red;
}